* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
    background-color: #191919;
}

/* Header section style */

header {
    height: 100vh;
}

/* Nav Style Start */

.nav_container {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 10px 180px;
    /* background-color: rgb(255, 255, 255); */
    /* box-shadow: 1px 1px 9px 1px rgba(231, 231, 231, 0.38);
    -webkit-box-shadow: 1px 1px 9px 1px rgba(231, 231, 231, 0.38);
    -moz-box-shadow: 1px 1px 9px 1px rgba(231, 231, 231, 0.38); */
}

.nav_container li,
a {
    list-style: none;
    text-decoration: none;
    color: #A7A7A7;
    font-weight: 500;
}

.nav_container li>a:hover {
    color: #27AE60;
}

.logo_link {
    display: flex;
    align-items: center;
    gap: 675px;
}

.logo_svg {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
}

.logo_link>ul {
    display: flex;
    gap: 60px;
}

.nav_social_link {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav_social_icon {
    width: 30px;
    height: 30px;
}

/* Hero Section Style */

.hero_wraper {
    height: 100vh;
    width: 100%;
    /* background-image: url("../asset/svg/herobg2.svg"), linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.719));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover; */
}

.hero_section {
    display: flex;
    width: 80%;
    height: 80vh;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    color: #D9D9D9;
}

.text_primary {
    font-size: 3rem;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #13B0F5, #E70FAA);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.btn {
    background-color: #27AE60;
    border: none;
    padding: 16px 22px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    color: white;
}

.btn:hover {
    background-color: #04ac4a;
    cursor: pointer;
}

.hero_title {
    margin-bottom: 15px;
}

.btn-more {
    margin-left: 12px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn_more:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

/* Main section Style */

main {
    margin-bottom: 500px;
}

.tech_section {
    margin-bottom: 90px;
}

.section_title {
    text-align: center;
    color: #CCC;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.section_description {
    text-align: center;
    color: #A7A7A7;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 50px;
}

.technology {
    height: 70px;
    width: 70px;
}

.first_row,
.second_row {
    display: flex;
    width: 50%;
    margin: auto;
    gap: 108px;
}

.first_row {
    margin-bottom: 60px;
}

/* Projects Style */

.projects_card {
    width: 370px;
    height: 525px;
    border-radius: 15px;
    background: #363636;
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20);
    color: #CCC;
}

.project_image {
    border-radius: 15px 15px 0 0;
    height: 260px;
    width: 100%;
}

.card_text_part {
    padding: 8px 30px;
    text-align: left;
}

.card_wraper {
    display: flex;
    align-items: center;
    gap: 50px;
}

.card {
    display: flex;
    align-items: center;
    gap: 8px;
}

.project_title {
    color: #CCC;
    text-align: left;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}

.projects_description {
    color: #CCC;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 12px;
}

.project_stack {
    color: #CCC;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
}

.card_action {
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    text-decoration-line: underline;
}

.project_card_wraper {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
    margin-bottom: 50px;
}